@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*
{
    margin: 0px;
    padding: 0px;
}

.sidebar
{
    background-color: rgb(174, 174, 174);
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.sidebar nav
{
    padding: 45px;
}

.sidebar nav li
{
    margin-top: 30px;
    margin-bottom: 30px;
    list-style: none;
    font-size: 30px;
}

.sidebar nav li a
{
    text-decoration: none;
    color: black;
}

.main
{
    /* background-color: yellow; */
    width: 80%;
    padding: 20px;
    height: 100vh;
}

.container
{
    display: flex;
}

.infoContainer
{
    width: 70vw;
    height: 70vh;
    /* background-color: green; */
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.devInfo
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello 
{
    font-size: 45px;
    font-family: 'Roboto Mono', monospace;
}

.name
{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about
{
    font-size: 33px;
    font-family: 'Roboto Mono', monospace;
}

.moreAbout
{
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}

.btn
{
    margin-top: 35px;
    padding: 15px 36px;
    border-radius: 50px;
    color: white;
    background-color: rgb(70, 130, 187);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover
{
    background-color: white;
    color: rgb(70, 130, 187);
}

.devPic img
{
    height: 70vh;
    width: 270px;
}

.contactForm
{
    padding: 0 25px;
    margin-top: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}

.contactForm h1
{
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    padding: 12px 0;
}

.contactForm form div
{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.contactForm form div input
{
    width: 40vw;
    margin: 5px 0;
    border-radius: 5px;
    padding: 3px;
}

#emailHelp
{
    font-size: 14px;
    color: magenta;
    margin: 0 20px;   
    padding: 3px 0 0 0;
}

#form-check
{
    display: flex;
    flex-direction: row;
}

#form-check input
{
    width: 50px;
    padding: 100px 100px;
}

.btn-sm
{
    margin-top: 35px;
    padding: 5px 15px;
    border-radius: 50px;
    color: white;
    background-color: rgb(70, 130, 187);
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

.btn-sm:hover
{
    background-color: white;
    color: rgb(70, 130, 187);
}

.blogItem
{
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
}

h1
{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h2
{
    padding: 20px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

p
{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

.intro h2
{
    padding: 20px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    margin: 20px;
}

.intro p
{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.skillItem
{
    display: flex;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
}

.skill
{
    width: 100px;
    height: 10px;
    background-color: rgb(70, 130, 187);
    border-radius: 10px;
}

.skillContainer
{
    margin: 0px 20px;
}

.hundred
{
    width: 500px;
}

.fifty
{
    width: 250px;
    border: 1px solid black;
    background-color: sandybrown;
}

.twentyfive
{
    border: 1px solid black;
    width: 125px;
    background-color: sandybrown;    
}

.seventyfive
{
    width: 375px;
}

.sidebarGo
{
    transform: translate(-300px, 0px);
    position: absolute;
}

.hamburger
{
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
}

.ham
{
    margin-top: 10px;
    margin-left: 10px;
}

.cross
{
    margin-left: 225px;
    margin-top: 3px;
    position: absolute;
}

@media (max-width: 1540px)
{
    *
    {
        /* background-color: red;    */
    }
    .devPic
    {
        display: none;
    }
}